* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #50514f;
    color: #f4f4ed;
    font-size: 20px;
}
/*Styling the header section*/
header{
    height: 60px;
    width: 100%;
    background-color: #8d91c7;
}


/*Styling the hero image*/
.hero{
    height: 500px;
    background-position: center;
    background-size: cover;
}

/*Styling the nav bar*/
header nav{
    background-color: #8d91c7;
    min-height: 20px;
    padding: 10px 15px;
    flex-wrap: wrap;
    float: right;
}

.top header nav:hover{
    background-color: red;
    color: black;
}

.top header nav:active{
    background-color: #04AA6D;
    color: white;
  }


.top header nav{
    float: right;
}

ul {
    display: block;
    list-style-type: disc;
}

h1{
    display: inline;
    padding: 10px;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

main{
    font-family: Arial, Helvetica, sans-serif;

}

