* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #50514f;
    color: #f4f4ed;
}

header{
    height: 60px;
    width: 100%;
    background-color: #8d91c7;
}

h1{
    display: block;
    padding: 10px;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

main{
    font-family: Arial, Helvetica, sans-serif;

}

.text-right{
    text-align: right;
    
}

.text-left{
    text-align: left;
}